<html>
<head>
  <meta content='{{ page.title }} - {{ site.title }}' name='title' />
  <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
  <title>{{ page.title }} - {{ site.title }}</title>
  {% include head.html %}
</head>
  <body class="post-index">
    {% include header.html %}
    <div id="container">
      {% include links.html %}
      <div class="content">
        <section>
          {% for post in site.posts %}
          {% unless post.next %}
            <h3>{{ post.date | date: '%Y' }}</h3>
            {% else %}
              {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
              {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
              {% if year != nyear %}
                <h3>{{ post.date | date: '%Y' }}</h3>
              {% endif %}
              {% endunless %}
            <ul class="posts">
              <li>
                <small class="datetime muted" data-time="{{ post.date }}">{{ post.date | date_to_string }} </small>
                <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
              </li>
            </ul>
          {% endfor %}
        </section>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
